@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

h1{
  background-color: #000;
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0.2em 0.4em;
  font-family: 'DM Serif Text', serif;
  font-size: 2em;
}

header{
  font-family: 'Lato', sans-serif;
}
footer{
  font-family: 'DM Serif Text', serif;
}
#highlight{
  transition: all 0.4s ease-out;
}
body #highlight{width: 0; left: 0;}
body#info #highlight{width: 42px; left: 48px;}
body#work #highlight{width: 55px; left: 141px;}
body#illustration #highlight{width: 124px; left: 247px;}
body#photos #highlight{width: 72px; left: 422px;}

#work a{
  transition: all 0.5s ease-out;
}
#work-thumbs:hover a{
  /*filter: blur(4px);*/
  opacity: 0.2;
}
#work-thumbs a:hover{
  filter: blur(0);
  opacity: 1;
}
.lg-on main{
  filter: blur(10px);
}
.lg-backdrop{
  background-color: rgba(0,0,0,0.7) !important;
}
#bg{
  z-index: -1;
  top: 0;
  left:0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#lightgallery{
  display: flex;
  flex-wrap: wrap;
}
#lightgallery:hover a {
  opacity: 0.2;
}
#lightgallery a {
  transition: all 0.5s ease-out;
}
#lightgallery a:hover {
  opacity: 1;
}

body.nav-open{
  overflow: hidden;
}
body header{
  height: 70px;
  overflow: hidden;
}
body.nav-open header{
  height: 100vh;
}
a.swipe {
  background-image: linear-gradient(to right, #FF5858 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
a.swipe:hover {
  background-position: 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; 
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 2px;
    background-color: white;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }
