@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind colors;

h1{font-family: 'DM Serif Text', serif;}

header{
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
#highlight{
  transition: all 0.4s ease-out;
}
body#home{
  background-image: url(images/castle.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
body #highlight{width: 0; left: 0;}
body#info #highlight{width: 42px; left: 48px;}
body#work #highlight{width: 55px; left: 141px;}
body#illustration #highlight{width: 124px; left: 247px;}
body#photos #highlight{width: 72px; left: 422px;}

#work a{
  transition: all 0.5s ease-out;
}
#work-thumbs:hover a{
  /*filter: blur(4px);*/
  opacity: 0.2;
}
#work-thumbs a:hover{
  filter: blur(0);
  opacity: 1;
}
.lg-backdrop{
  background-color: #212121 !important;
}